{% extends "base.html" %}

{% block content %}
    <h1>Invest in {{ plan.name }}</h1>
    <p>{{ plan.description }}</p>
    <p>ROI: {{ plan.roi }}% | Duration: {{ plan.duration }} days</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32) }}<br>
            {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
